# Archivos sensibles
firebaseKey.json
database-8d5ac-firebase-adminsdk-fbsvc-cf1084cebe.json

# Ignorar dependencias de Node.js
node_modules/
package-lock.json



# Ignorar caché y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar datos generados
data/
dist/
build/
