# Ignorar archivos de configuración sensibles
.env
config/firebaseKey.json


# Ignorar dependencias de Node.js
node_modules/
package-lock.json



# Ignorar caché y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar datos generados
data/
dist/
build/
